<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-10 col-md-10 col-xl-9 mx-auto">
        <div class="cta-inner pt-4 rounded">
          <h2 class="section-heading text-center mb-4">
            <span class="section-heading-lower">
              Experiencia, Calidad, Confianza y Seguridad
            </span>
          </h2>
          <div class="text-center">
            <img class="img-fluid rounded about-heading-img img-thumbnail mb-3 mb-lg-0" 
            src="assets/img/about.jpg" alt="about">
          </div>
          <p class="text-justify pt-3">
            <strong>SERGEOING</strong> es una empresa del norte del Perú, conformada por 
            un equipo multidisciplinario de profesionales altamente calificados y 
            experimentados en el ámbito de la ingeniería para la elaboración de estudios 
            especializados en el área de geología, geomorfología, geotecnia, técnicas de 
            prospección geofísica, evaluación de riesgos, levantamiento topográfico con GPS diferencial, 
            etc. Además realiza ensayos de laboratorio de mecánica de suelos y elaboración 
            de expedientes técnicos. Nuestra trayectoria de éxito está basada en:
          </p>
          <p class="text-justify mb-0">
            • Una cultura corporativa enfocada a satisfacer las necesidades 
            del cliente, a través de una organización eficiente y una gestión dinámica y 
            emprendedora.
          </p>
          <p class="text-justify mb-0">
            • Una ventaja competitiva de alta calidad de profesionales experimentados, 
            nuestros recursos humanos, tecnologías de última generación, y la constante 
            innovación en cada uno de trabajos ingenieriles.
          </p>
          <p class="text-justify mb-0">
            • Un esfuerzo constante para presentar trabajos de calidad y con soluciones 
            ingenieriles, basados a los estándares de cada especialidad.
          </p>
          <p class="text-justify mb-0">
            • En una capacitación constaste al personal de trabajo y equipo técnico para 
            el manejo de los equipos de laboratorio de geotecnia, GPS diferencial, etc, 
            de la empresa.
          </p>
        </div>
        </div>
      </div>
    </div>
</section>

  <!--Mision-->
<section class="cta pt-0">
    <div class="container">
      <div class="row">
        <div class="col-10 col-md-10 col-xl-9 mx-auto">
          <div class="cta-inner text-center pt-4 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Misión</span>
            </h2>
            <p class="text-justify">
              Somos una empresa innovadora que brinda servicios geológicos, geotécnicos 
              especializados en mecánica de suelos y rocas, geomorfológicos, cartográficos, 
              hidrogeológicos, etc. Además elabora proyectos de ingeniería a nivel de estudio 
              de prefactibilidad, factibilidad y definitivo, cumpliendo siempre los estándares 
              de estudios ingenieriles y garantizando nuestros servicios con soluciones 
              estratégicas; manteniendo los valores de honestidad, fidelidad, responsabilidad y 
              puntualidad para potencializar la experiencia y los valores de nuestro recurso 
              humano para desarrollar proyectos bajo estándares de calidad y ética profesional.
            </p>
            <div class="text-center">
              <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/mision.jpg" alt="mision">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

  <!--Vision-->
<section class="cta pt-0">
    <div class="container">
      <div class="row">
        <div class="col-10 col-md-10 col-xl-9 mx-auto">
          <div class="cta-inner text-center pt-4 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Visión</span>
            </h2>
            <p class="text-justify">
              Ser una empresa líder manteniendo la ética y liderazgo en el sector ingenieril 
              de primer nivel, que nos dará un diferencia única y que nos hará más competitivos 
              en el desarrollo de proyectos de forma eficiente y responsable.
            </p>
            <div class="text-center">
              <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/vision.jpg" alt="vision">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
