<!--Nuestros valores-->
<section class="cta">
  <div class="container">
    <div class="row cta-inner p-4 rounded">
      <div class="col-12 col-xl-5 col-md-5">
        <div class="intro-text rounded">
          <h2 class="section-heading">
            <span class="section-heading font-weight-bold h3">Nuestros valores</span>
          </h2>
          <p class="mb-1 text-justify">
            Son los principios que nos guían, nos inspiran y nos respaldan.
          </p>
          <h2 class="section-heading-lower mb-1">
            <span class="section-heading-upper font-weight-bold h4">
              El Conocimiento
            </span>
          </h2>
          <p class="mb-1 text-justify">
            Aprendemos y crecemos compartiendo conocimiento y recursos.
          </p>
          <div class="row">
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Evolución  
            </div>
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Excelencia
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Identidad  
            </div>
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Trabajo en equipo
            </div>
          </div>
          <h2 class="section-heading-lower mb-1">
            <span class="section-heading-upper font-weight-bold h4">
              Innovación
            </span>
          </h2>
          <div class="row">
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Evolución  
            </div>
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Riesgo
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Retos  
            </div>
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Metas
            </div>
          </div>
          <h2 class="section-heading-lower mb-1">
            <span class="section-heading-upper font-weight-bold h4">
              Nuestra gente
            </span>
          </h2>
          <div class="row">
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Respeto  
            </div>
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Profesionalismo
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Reconocimiento  
            </div>
            <div class="col-6 col-md-6">
              <i class="fa fa-check text-primary" aria-hidden="true"></i> 
              Desarrollo
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-7 col-md-7">
        <img class="intro-img img-fluid mb-3 mb-lg-0 img-thumbnail rounded" 
        src="assets/img/intro.jpg" alt="foto intro">
      </div>
    </div>
  </div>
</section>

<section class="cta pt-0">
  <div class="container">
    <div class="row cta-inner p-4">
      <div class="col-xl-12">
        <div class="rounded">
          <h2 class="text-center section-heading mb-4">
            <span class="h5 fon">Nuestro compromiso</span>
            <span class="section-heading-lower h3 font-weight-bold">
              EXPERIENCIA, CALIDAD, CONFIANZA Y SEGURIDAD
            </span>
          </h2>
          <p class="mb-0 text-center" style="font-size: 19px;">
            SERGEOING S.R.L somos una empresa al  servicio de la ingeniería garantizando nuestros 
            estudios con las soluciones técnicas más adecuadas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta pt-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center pt-4 rounded">
          <h2 class="section-heading text-center mb-4">
            <span class="section-heading-lower">
              Perfil de nuestro equipo técnico profesional
            </span>
          </h2>
          
          <div class="row" *ngFor="let colaborador of colaboradores">
            <div class="col-xl-3 col-md-3">
              <div class="col colaborador text-center text-white rounded border border-white">
                <br>
                <img src="{{colaborador.src}}" class="img rounded-circle" 
                  alt="{{colaborador.nombres}}" width="130px" height="130px">
                <div class="font-weight-bold my-3" style="font-size: 18px;">{{colaborador.nombres}}</div>
              </div>
            </div>
            <div class="col-xl-9 col-md-9 text-justify">
              {{colaborador.descripcion}}
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
